body {
    font-family: "Montserrat", sans-serif;
}
ul{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

address{
    font-style: normal;
}

p, h1, h2, h3, h4, h5, h6{
    margin-top: 0;
    margin-bottom: 0;
}

img{
    display: block;
}

.container{
    width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
/*------------ HEADER--------------- */

.header{
    padding-top: 24px;
    padding-bottom: 32px;
}
.header-logo{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    color: #111;
    display: flex;
    align-items: center;
    gap: 4px;
}
.header-logo-italic{
    font-style: italic;
}

.header-container{
    display: flex;
}

.header-nav{
display: flex;
flex-grow: 1;
justify-content: space-between;
margin-right: 90px;
align-items: center;
}

.header-menu-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #111;
}
.header-menu-list{
    display: flex;
    gap: 24px;
}

.header-menu-link:hover{
    color: #FD9222;
}
.header-menu-link:focus {
    color: #FD9222;
}

.header-soc-list{
    display: flex;
    gap: 14px;
}

.header-soc-icon{
    fill: transparent;
    stroke: #111;
}

/* -----------------HERO------------ */
.hero {
    padding-bottom: 80px;
}

.hero-wrap{
    background-color: rgba(17, 17, 17, 0.6);
    padding: 380px 40px 40px 40px;
    border-radius: 30px;
    background-image: linear-gradient(180deg, rgba(17, 17, 17, 0.4) 0%, rgba(17, 17, 17, 0.4) 100%), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title{

font-weight: 500;
font-size: 28px;
line-height: 1.21;
letter-spacing: -0.03em;
color: #fff;
max-width: 484px;
margin-bottom: 32px;
}

.hero-btn-wrap{
    display: flex;
    align-items: center;
}

.hero-btn-main{
        font-weight: 600;
        font-size: 14px;
        color: #fff;
        border: none;
        background-color: #fd9222;
        border-radius: 100px;
        padding: 14px 40px;
        margin-right: 14px;
        transition-property: background-color, color;
        transition-duration: 500ms;
}

.hero-btn-main:hover{
    background-color: #fcf1e0;
    color: #fd9222;
}

.hero-btn-link{
        font-weight: 600;
        font-size: 14px;
        color: #fff;
        border: 1px solid #fff;
            border-radius: 100px;
            padding: 14px 40px;
            background-color: transparent;
}

.hero-btn-scroll{
    font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.03em;
        color: #fff;
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 14px;
        

}
.hero-btn-scroll::after{
    content: '';
    width: 38px;
    height: 38px;
    background-color: #fff;
    border-radius: 50%;
    background-image: url(../images/arrow.png);
    background-position: center;
    background-repeat: no-repeat;

}

/* ---------FEATURES----------- */

.features {
    background-color: #1e1823;
    padding-top: 50px;
    padding-bottom: 50px;
}

.features-list {
    padding-left: 18px;
    padding-right: 18px;
    display: flex;
    gap: 88px;
}

.features-item {
    width: calc((100% - 2 * 88px) / 3);
}

.features-subtitle {
    font-weight: 600;
        font-size: 18px;
        color: #fff;
        margin-bottom: 18px;
}

.features-item-title {
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        color: rgba(255, 255, 255, 0.7);
}

/* ---------TASTE--------  */
.taste {
    padding-top: 120px;
    padding-bottom: 60px;
}

.taste-title {
    font-weight: 600;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        text-align: center;
        color: #111;
        max-width: 412px;
        margin: 0 auto;
        margin-bottom: 28px;
}

.taste-title .accent {
    color: #fd9222;
}

.taste-text {
    font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        text-align: center;
        color: #111;
        margin: 0 auto;
        margin-bottom: 50px;
        max-width: 486px;
}

.taste-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 32px;
}

.taste-item {    
    width: calc((100% - 3 * 32px) / 4);
    border-radius: 15px;
    padding-top: 28px;
    padding-bottom: 28px;
    color: #fff;
}

.taste-item:nth-child(4n + 1){
    background-color: #fd9222;
}

.taste-item:nth-child(even){
    background-color: #fff;
    border: 1px solid #fd9222;
    color: #111;
} 

.taste-item:nth-child(4n + 3) {
    background-color: #1e1823;

}

.taste-image {
    margin: 0 auto;
    margin-bottom: 36px;
}

.taste-subtitle {
    font-weight: 600;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        
    padding-left: 28px;
}

/* -------MADE ----------- */
.made {
    padding-top: 60px;
    padding-bottom: 60px;
}

.made-title {
    font-weight: 600;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        text-align: center;
        color: #111;
        margin-bottom: 50px;
        
}

.made-title .accent {
    color: #fd9222;
}

.made-image {}

.made-subtitle {
    font-weight: 600;
        font-size: 18px;
        line-height: 1.33;
        color: #111;
        margin-bottom: 28px;
        max-width: 350px;
}

.made-list {}

.made-item{
    display: flex;
}

.made-item::before{
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background-color: #4C4C4C;
    border: 1px solid #ECEDED;
    margin-right: 8px;
}

.made-item:not(:last-child) {
    margin-bottom: 24px;
}

.made-item-text {
    font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        color: #111;
}

/* ---------PRODUCTS----------  */
.products {
    padding-top: 60px;
    padding-bottom: 60px;
}

.products-title {
    font-weight: 600;
        font-size: 24px;
        line-height: 1.16667;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        text-align: center;
        color: #111;
}

.products-title .accent {
    color: #fd9222;
}

.products-list {}

.products-item {}

.products-image {}

.products-subtitle {
    font-weight: 600;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #111;
}

.products-item-text {
    font-size: 12px;
        line-height: 1.17;
        letter-spacing: -0.02em;
        color: rgba(17, 17, 17, 0.7);
}

.products-btn {
    font-weight: 600;
        font-size: 14px;
        color: #111;
}

/* -----SELLERS-- */
.sellers {
    padding-top: 60px;
    padding-bottom: 60px;

}

.sellers-title {
    font-weight: 600;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        text-align: center;
        color: #111;
    margin-bottom: 50px;

}

.sellers-title .accent {
   color: #fd9222;
}

.sellers-list {
    display: flex;
    gap: 16px;
}

.sellers-item {
    width: calc((100% - 32px) / 3);
    border-bottom: 1px solid rgba(17, 17, 17, 0.1);
        border-left: 1px solid rgba(17, 17, 17, 0.1);
        border-right: 1px solid rgba(17, 17, 17, 0.1);
        border-radius: 0 0 15px 15px;
}

.sellers-item:hover .sellers-cover-text{
    transform: translateY(0);

}

.sellers-subtitle {
    font-weight: 600;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #111;
        text-align: center;
        padding-top: 28px;
        padding-bottom: 28px;

}

.sellers-cover-wrap{
    position: relative;
    overflow: hidden;
}

.sellers-cover-text{
    position: absolute;
    top: 0;
    height: 100%;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #fafafa;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    align-items: center;
    border-radius: 15px 15px 0 0;
    transform: translateY(100%);
    transition: transform 300ms linear;
    backdrop-filter: blur(15px);
    background-color: linear-gradient(161deg, rgba(253, 253, 255, 0.1) 0%, rgba(8, 2, 21, 0.1) 100%);
    
        
}

/* ----REVIEW--------- */
.review {}

.review-title {
    font-weight: 600;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        text-align: center;
        color: #111;
}

.accent {
    color: #fd9222;
}

.review-list {}

.review-item {}

.review-image {}

.review-subtitle {
    font-weight: 600;
        font-size: 18px;
        line-height: 1.33;
        text-align: center;
        color: #111;
}

.review-item-text {
    font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        text-align: center;
        color: rgba(17, 17, 17, 0.7);
}

.review-btn {
    font-weight: 600;
        font-size: 18px;
        color: #111;
}

/* ------------[FOOTER-----------------]   */
.footer {
    background-color: #1e1823;
}

.footer-text {
    font-weight: 500;
        font-size: 28px;
        line-height: 1.21429;
        letter-spacing: -0.02em;
        color: #fff;
}

.footer-text .accent {
    color: #fd9222;
}

.footer-subtitle {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        text-align: center;
        color: #fff;
}

.footer-soc-list {}

.footer-soc-item {}

.footer-soc-link {}

.footer-contacts {}

.footer-contacts-list {}

.footer-contscts-item {}

.footer-contacts-link {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.02em;
        text-align: center;
        color: #fff;
}

.footer-menu {}

.footer-mebu-list {}

.footer-menu-link {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14286;
        letter-spacing: -0.02em;
        color: #fff;
}
